<div class="oj-hybrid-padding">
  <h1>Product Information</h1>
  <div>
    <h3><oj-label for="basicSelect">Item Details</oj-label></h3>
    <hr style="margin-top:12px;">
    <oj-label for="basicSelect">Select Chart:</oj-label>
    <oj-select-single id="basicSelect" style="max-width:20em" data="[[chartTypes]]" value="{{val}}">
    </oj-select-single>
    <div style="width:135px;">
      <oj-chart id="barChart" type="[[ val ]]" data="[[chartDataProvider]]" animation-on-display="auto" animation-on-data-change="auto" hover-behavior="dim" style='width:500%;height:350px;"'>
        <template slot="itemTemplate" data-oj-as="item">
          <oj-chart-item value="[[item.data.value]]" group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]">
          </oj-chart-item>
        </template>
      </oj-chart>
    </div>
  </div>
</div>


